body {
  margin-left: 300px;
  margin-top: 300px;
  color: #353839;
}

.learnMore {
  color: #ec5f58;
  letter-spacing: 1px;
  font-size: 24px;
  margin-left: 200px;
  font-family: Roboto, sans-serif;
}

.input {
  width: 600px;
  height: 50px;
  padding: 14px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #a6aaa9;
  color: #353935;
  font-weight: lighter;
}

.input:focus {
  color: #353839;
  background-color: #f3f3f3;
}

.engineers {
  color: #353839;
  background-color: #f3f3f3;
  width: 600px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: lighter;
  border: 1px solid #a6aaa9;
}

.inputLabel {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #2b2b2b;
  margin-left: 12px;
  letter-spacing: 1px;
}

.submit {
  color: #ffff;
  background-color: #ec5f58;
  border-radius: 20px;
  padding: 14px;
  width: 120px;
  margin-top: 12px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-left: 480px;
  border: none;
}

.submit:hover {
  background-color: #f3f3f3;
  color: #ec5f58;
}
